/Python/HelloWorld/nbproject/private
/Python/AddressBook/nbproject/private/
/Python/MenuFunction/nbproject/private/
/Java/AddressBookFirstVersion/nbproject/private/
/Java/PythonApiTutorial/nbproject/private
/Python/PythonApiTutorial/nbproject/private/
/Java/Adder/nbproject/private/
/Java/Adder/dist/
/Java/Adder/build/
/Java/WindowMaster/nbproject/private/
/Java/WindowMaster/dist/
/Java/WindowMaster/build/
/Java/IfStatements/nbproject/private/
/Java/IfStatements/build/
/Java/IfStatements/dist/
/Java/DaysofTheWeek_SwitchStatements/nbproject/private/
/Java/DaysofTheWeek_SwitchStatements/build/
/Java/DaysofTheWeek_SwitchStatements/dist/
/Java/ContacListMVC/target/
/Java/mavenproject1/target/
/Java/WhatIf/nbproject/private/
/Java/WhatIf/build/
/Java/FirstMavenProject/target/
/Java/FirstMavenProjectUsingArchetype/target/
/Java/HelloWorld/build/
/Java/HelloWorld/dist/
/Java/HelloWorld/nbproject/private/
/Java/ProgrammingByDoing/ForLoops/CountingWithAForLoop/nbproject/private/
/Java/ProgrammingByDoing/ForLoops/CountingWithAForLoop/build/
/Java/ProgrammingByDoing/ForLoops/TenTimes/nbproject/private/
/Java/ProgrammingByDoing/ForLoops/TenTimes/build/
/Java/ProgrammingByDoing/ForLoops/EnterYourPIN/nbproject/private/
/Java/ProgrammingByDoing/ForLoops/EnterYourPIN/build/
/Java/ProgrammingByDoing/WhileLoops/EnterYourPIN/nbproject/private/
/Java/ProgrammingByDoing/BasicsAndPrinting/AGoodFirstProgram/nbproject/private/
/Java/ProgrammingByDoing/BasicsAndPrinting/AGoodFirstProgram/build/
/Java/ProgrammingByDoing/BasicsAndPrinting/CommentsAndSlashes/nbproject/private/
/Java/ProgrammingByDoing/BasicsAndPrinting/CommentsAndSlashes/build/
/Java/ProgrammingByDoing/BasicsAndPrinting/ALetterToYourseld/nbproject/private/
/Java/ProgrammingByDoing/BasicsAndPrinting/ALetterToYourseld/build/
/Java/ProgrammingByDoing/BasicsAndPrinting/YourInitials/nbproject/private/
/Java/ProgrammingByDoing/BasicsAndPrinting/YourInitials/build/
/Java/ProgrammingByDoing/BasicsAndPrinting/NumbersAndMath/nbproject/private/
/Java/ProgrammingByDoing/BasicsAndPrinting/NumbersAndMath/build/
/Java/ProgrammingByDoing/BasicsAndPrinting/VariablesAndNames/nbproject/private/
/Java/ProgrammingByDoing/BasicsAndPrinting/VariablesAndNames/build/
/Java/ProgrammingByDoing/Variables/VariablesAndNames/nbproject/private/
/Java/ProgrammingByDoing/Variables/MoreVariablesAndPrinting/nbproject/private/
/Java/ProgrammingByDoing/Variables/MoreVariablesAndPrinting/build/
/Java/ProgrammingByDoing/Variables/UsingVariables/nbproject/private/
/Java/ProgrammingByDoing/Variables/UsingVariables/build/
/Java/ProgrammingByDoing/Variables/StillUsingVariables/nbproject/private/
/Java/ProgrammingByDoing/Variables/StillUsingVariables/build/
/Java/ProgrammingByDoing/Variables/YourSchedule/nbproject/private/
/Java/ProgrammingByDoing/Variables/YourSchedule/build/
/Java/ProgrammingByDoing/Variables/KeyboardInput/nbproject/private/
/Java/ProgrammingByDoing/Variables/KeyboardInput/build/
/Java/ProgrammingByDoing/KeyboardInput/TheForgetfulMachine/nbproject/private/
/Java/ProgrammingByDoing/KeyboardInput/TheForgetfulMachine/build/
/Java/ProgrammingByDoing/KeyboardInput/NameAgeSalary/nbproject/private/
/Java/ProgrammingByDoing/KeyboardInput/NameAgeSalary/build/
/Java/ProgrammingByDoing/KeyboardInput/MoreUserInputOfData/nbproject/private/
/Java/ProgrammingByDoing/KeyboardInput/MoreUserInputOfData/dist/
/Java/ProgrammingByDoing/KeyboardInput/MoreUserInputOfData/build/
/Java/ProgrammingByDoing/KeyboardInput/ADumbCalculator/nbproject/private/
/Java/ProgrammingByDoing/KeyboardInput/ADumbCalculator/build/